{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Categorie</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="Rental E-Commerce">
        <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'styles/catagories.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://kit.fontawesome.com/1b798a1e6d.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        

        <nav class="Navbar">
            <a href="index.html" class="logo">
                <i class="ri-home-heart-fill"></i>
                <span>REC</span>
                <!-- <img class="img-logo" src="REC.png"> -->
            </a>
    
            <ul class="navbar">
                <div class="box">
                    <input type="text" placeholder="Search...">
                    <a href="#"><i class="fas fa-search"></i></a>
                </div>
                <!-- <div class="div1">
                    <li><a href="#" class="Location">
                            <i class="ri-map-pin-2-fill"></i>
                            Location</a></li>
                </div>
                <div class="div1">
                    <li><a href="#" class="Contact">
                            <i class="ri-contacts-book-3-fill"></i>
                            Contact Us</a></li>
                </div> -->
                <div class="div1">
                    <li><a href="#" class="Notification">
                            <!-- <i class="ri-contacts-book-3-fill"></i> -->
                            Notification</a></li>
                </div>
               
            </ul>
     
            <div class="main">
                <div class="dropdown">
                    <button class="dropbtn">Account</button>
                    <div class="dropdown-content">
                        <a href="#">My Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
                <div class="div2">
                    <a href="#" class="Rent">
                        <!-- <i class="ri-add-circle-fill"></i> -->
                        Rent</a>
                    </div>
                </div>
    
                <div class="bx bx-menu" id="menu-icon"></div>
    
            </div>
    
        </nav>

        <div id="popup" class="popup">
            <div class="content">
                <img src="">
                <span class="popup-content">user.name</span><p>has requested for rent your product.</p>
                <a href="#"><button class="chat-btn">Chat</button></a>
            </div>
            <div class="content">
                <img src="">
                <span class="popup-content">user.name</span><p>has requested for rent your product.</p>
            </div>
        </div>


        {% for c in categories %}
        <div class="categories">
            <div class="categorie">
                <a href="index.html"><img src="{{c.image.url}}"></a>
                <p>{{c.title}}</p>
            </div>
            <!-- <div class="categorie">
                <a><img src="{% static 'images/main-2.jpg' %}"><span>Banglow</span></a>
            </div>
            <div class="categorie">
                <a><img src="{% static 'images/main-2.jpg' %}"><span>Banglow</span></a>
            </div>
            <div class="categorie">
                <a><img src="{% static 'images/main-2.jpg' %}"><span>Banglow</span></a>
            </div>
            <div class="categorie">
                <a><img src="{% static 'images/main-2.jpg' %}"><span>Banglow</span></a>
            </div>
            <div class="categorie">
                <a><img src="{% static 'images/main-2.jpg' %}"><span>Banglow</span></a>
            </div>
            <div class="categorie">
                <a><img src="{% static 'images/main-2.jpg' %}"><span>Banglow</span></a>
            </div> -->
        </div>
        {% endfor %}

        
        <script src="{% static 'JS/index.js' %}" async defer></script>
    </body>
</html>